<div class="container">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Send to</mat-label>
      <mat-select [(value)]="sendTo">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <input matInput [(ngModel)]="message" />
    </mat-form-field>
    <button mat-button (click)="Send()">Send</button>
  </div>
  <div>
    <div *ngFor="let i of chatService.messages">
      <p>{{ i.connectionId }} - {{ i.dateTime }}</p>
      <p>{{ i.text }}</p>
    </div>
  </div>
</div>
